.DS_Store
*.mem
*.lut
*.root
*.txt
plots/*
papers/*
src/CLCTLayerAnalyzer
src/LUTResolutionAnalyzer
src/PatternPrinter
src/OTMBFirmwareTester
src/root/*
src/LUTBuilder
src/LUTBuilder_TEMPLATE
src/Analyzer_TEMPLATE
src/*Analyzer
src/*Tester
src/*Creator
python/quick_hacks/*
../CSCDigiTuples/test/makeCSCDigiTree_dummy_cfg.py
../CSCDigiTuples/test/makeCSCDigiTree_testCameron_cfg.py
../CSCDigiTuples/test/golden2018.json
../CSCDigiTuples/crab/step3_RAW2DIGI_L1Reco_RECO.py
../CSCDigiTuples/crab/rerecoCSCDigiTree-zskim2018d.py
../CSCDigiTuples/crab/crabConfigChar17?.py
../CSCDigiTuples/crab/crab.log
../CSCDigiTuples/test/makeCSCDigiTree_dummy_cfg.py
../CSCDigiTuples/test/makeCSCDigiTree_testCameron_cfg.py
include/CSCHelper.h
include/CSCInfo.h
jobs/Charmonium/
../papers/
dat/
src/ComparatorMultiplicityAnalyzer
src/ThreeLayerCLCTEmulationAnalyzer
src/TMBEmulationTester
src/LUTBuilderTEMPLATE
src/PatternFinderMT.cpp
papers/

