.DS_Store
*.lut
*.root
*.txt
plots/*
../papers
src/CLCTLayerAnalyzer
src/PatternFinder
src/printPatternCC
src/root/*
python/quick_hacks/*
../CSCDigiTuples/test/makeCSCDigiTree_dummy_cfg.py
../CSCDigiTuples/test/makeCSCDigiTree_testCameron_cfg.py
../CSCDigiTuples/test/golden2018.json
../CSCDigiTuples/crab/step3_RAW2DIGI_L1Reco_RECO.py
../CSCDigiTuples/crab/rerecoCSCDigiTree-zskim2018d.py
../CSCDigiTuples/crab/crabConfigChar17?.py
../CSCDigiTuples/crab/crab.log
../CSCDigiTuples/test/makeCSCDigiTree_dummy_cfg.py
../CSCDigiTuples/test/makeCSCDigiTree_testCameron_cfg.py
include/CSCHelper.h
include/CSCInfo.h
jobs/Charmonium/
../papers/
CSCPatterns/dat/
src/BayesPatternAnalysis
src/BremGenPEstimator
src/GenStudy
src/MultiplicityStudy
CSCPatterns/src/PatternFinderMT.cpp
CSCPatterns/src/ThreeLayerCLCTEmulationAnalyzer
CSCPatterns/src/testTMBEmulation
papers/
../Bremsstrahlung/src/BremGenPEstimator
../Bremsstrahlung/src/GenStudy
../Bremsstrahlung/src/SimVsRecSanityCheck
